[SddmGreeterTheme]
Name=SDDM Simple
Description=Simple SDDM theme
Screenshot=simple.png
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=sddm-simple
Theme-API=2.0
