[SddmGreeterTheme]
Name=Netrunner Core
Description=Netrunner Core SDDM theme
Screenshot=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=netrunner-core
Theme-API=2.0
